@import "../scss/dependencies/variables.scss";
@import "../scss/dependencies/base.scss";
@import "../scss/dependencies/fonts";
@import "../scss/modules/todo-header.scss";
@import "../scss/modules/todo.scss";
@import "../scss/modules/todo-footer.scss";
@import "../scss/dependencies/media-query.scss";

body, html {
  font-size: 18px;
  font-family: "Josefin-regular";
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 100%;
}

input, ::placeholder, label, span, small {
  font-family: "Josefin-regular";
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Josefin-bold";
}

#app {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: var(--url) no-repeat top center;
  background-size: 100% 35%;
}

.container {
  width: 45%;
  margin: 0 auto;
  padding-top: 50px;
  @media screen and (min-width: 375px) and (max-width: 600px)  {
	width: 90%;
  }
  @media screen and (min-width: 600.98px) and (max-width: 1000px)  {
	width: 70%;
  }
}