@font-face {
    font-family: 'Josefin-regular';
    font-style: normal;
    font-weight: normal;
    src: local('Josefin Sans Regular'), url('../fonts/JosefinSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Josefin-bold';
    font-style: normal;
    font-weight: normal;
    src: local('Josefin Sans Bold'), url('../fonts/JosefinSans-Bold.woff') format('woff');
}