:root {
    /* Variables for default theme (light-mode) */
    --background-color: hsl(0, 0%, 95%);
    --todo-backgroun-color: #fff;
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --url: url("../images/bg-desktop-light.jpg");
    --text-color: black;
    --todo-text-color: hsl(235, 21%, 11%);
    --light-grayish-blue: hsla(233, 11%, 84%, 0.4);

    --very-light-gray: hsl(0, 0%, 95%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);
}

[data-theme="darkMode"] {
    /* Variables for dark mode */
    --background-color: hsl(235, 21%, 11%);
    --todo-backgroun-color: hsl(237, 14%, 26%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
    --url: url("../images/bg-desktop-dark.jpg");
    --text-color: white;
    --todo-text-color: hsl(0, 0%, 95%);
    --light-grayish-blue: hsla(234, 39%, 85%, 0.4);

    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);
}

$main-color: #fff